{% extends "./seller_panel.html" %} {% block title %}Handmade Corner | {{
model.user.store_name }} | Products{% endblock %} {% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">All your products</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <button
        type="button"
        class="btn btn-danger btn-block col-sm-1 ml-auto"
        data-toggle="modal"
        data-target="#modal-new-product"
      >
        <i class="fa fa-plus"></i> New
      </button>
      <br />
      <div id="productstable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <table
              id="productstable"
              class="table table-bordered table-striped dataTable dtr-inline"
              aria-describedby="productstable_info"
            >
              <thead>
                <tr>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="productstable"
                    rowspan="1"
                    aria-label="Product ID: activate to sort column descending"
                  >
                    Product ID
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="productstable"
                    rowspan="1"
                    aria-label="Name: activate to sort column descending"
                  >
                    Name
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="productstable"
                    rowspan="1"
                    aria-label="Unit: activate to sort column descending"
                  >
                    Unit
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="productstable"
                    rowspan="1"
                    aria-label="Category: activate to sort column descending"
                  >
                    Category
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="productstable"
                    rowspan="1"
                    aria-label="Sub Category: activate to sort column descending"
                  >
                    Sub Category
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="productstable"
                    rowspan="1"
                    aria-label="Status: activate to sort column descending"
                  >
                    Status
                  </th>
                  <th
                    class="text-center"
                    tabindex="0"
                    aria-controls="productstable"
                    rowspan="1"
                  >
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for prod in model.products_list %}
                <tr
                  class="{% if loop.index % 2 == 0 %} even {% else %} odd {% endif %}"
                >
                  <td class="sorting_1 dtr-control">{{ prod.ProductId }}</td>
                  <td>{{ prod.ProductName }}</td>
                  <td>{{ prod.ProductUnit }}</td>
                  <td>{{ prod.CategoryName }}</td>
                  <td>{{ prod.SubCategoryName }}</td>
                  <td>
                    {% if prod.ProductStatus == 'Active' %}
                    <span class="badge bg-success">Active</span>
                    {% else %}
                    <span class="badge bg-warning">Suspended</span>
                    {% endif %}
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <!-- {% set _ = session.update({"mykey": "myvalue"}) %} -->
                      <form
                        action="{{ url_for('products.edit_product', product=prod.ProductId) }}"
                        method="GET"
                      >
                        <button
                          type="submit"
                          class="btn bg-gradient-success btn-xs"
                        >
                          <i class="fa fa-edit"> Edit</i>
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</div>

<!-- modal-dialog for new option -->
<div class="modal fade" id="modal-new-product">
  <div class="modal-dialog modal-lg">
    <!-- modal-content -->
    <div class="modal-content">
      <form
        class="form-horizontal"
        method="POST"
        action="{{ url_for('products.create_new_product') }}"
      >
        <input hidden name="SellerId" value="{{ model.user.id }}" />
        <input hidden name="RequestedOperation" value="NewProduct" />
        <div class="modal-header">
          <h4 class="modal-title">New Product</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="InputProductName" class="col-sm-4 col-form-label"
                >Product Name</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  name="ProductName"
                  id="InputProductName"
                  placeholder="Product Name"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="InputProductDescription"
                class="col-sm-4 col-form-label"
                >Product Description</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  name="ProductDescription"
                  id="InputProductDescription"
                  placeholder="Product Description"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="InputProductUnit" class="col-sm-4 col-form-label"
                >Product Unit</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  name="ProductUnit"
                  id="InputProductUnit"
                  placeholder="Product Unit"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="ProductStatus" class="col-sm-2 col-form-label">
                is Status Active</label
              >
              <div class="col-sm-1">
                <input
                  type="checkbox"
                  class="form-control"
                  name="ProductStatus"
                  id="ProductStatus"
                  checked
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="ProductSubCategory" class="col-sm-2 col-form-label"
                >Category</label
              >
              <div class="col-sm-10">
                <select name="SubCategoryId" class="form-control">
                  {% for cat in model.categories %}
                  <optgroup label="{{ cat.CategoryName }}">
                    {% for subcat in cat.subcategories %}
                    <option value="{{subcat.SubCategoryId}}">
                      {{ subcat.SubCategoryName }}
                    </option>
                    {% endfor %}
                  </optgroup>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog for new product option-->
</div>
{% endblock content %} {% block jsforpage %}
<script>
  $(function () {
    $("#productstable")
      .DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        buttons: ["copy", "csv", "excel", "pdf", "print", "colvis", "add"],
      })
      .buttons()
      .container()
      .appendTo("#productstable_wrapper .col-md-6:eq(0)");
  });

  $("#modal-new-product").on("shown.bs.modal", function (event) {});
</script>
{% endblock jsforpage %}
